@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --color-textos:#606060;
    --color-negro: #000;
    --fondo-header:#e9dcd9;
    --color-menu: #d2d0d0;
    --color-menu-hover: #218fe6;
    --color-titulos: #303030;
    --color-azul: #218fe6;
    --fondo-gris: #f4f4f4;
    --color-letra-gris: #888;
    --color-subtitulo: #777;
    --fondo-footer-columns: #f8e8b2;
    --fondo-footer-copy: #3a3a3a;
    --color-footer: #797979;

}


body{
    font-family: 'Open Sans', sans-serif;    
    font-size: 17px;
    color: var(--color-textos);
    line-height: 1.7;
    font-weight: 400;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-titulos);
}


header .bg-light{
    background-color: transparent !important;
}

header img{
    width: 150px;
}

#hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: top center;
}

#hero h6{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

#hero h1{
    color: #fff;
    font-size: 60px;
}

#hero p{
    font-size: 20px;
    color: #fff;
    line-height: 1.7;
}

#hero .btn{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 20px;
}

#hero .btn-dark{
    background-color: transparent;
    border: 2px solid #fff;
}

#hero .btn-dark:hover{
    background-color: #fff;
    color: var(--color-negro);
}

#hero .btn-light{
    background-color: #fff;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.40);
    padding: 10% 0;
}

.section{
    padding: 5% 0;
}

.titulo{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subtitulo{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}


#products{
    padding-top: 10%;
}













#footer-columns{
    background-color: var(--fondo-footer-columns);
    color: var(--color-footer);
    padding: 60px 0;
    font-size: 14px;
}

#footer-columns img{
    width: 180px;
    margin-bottom: 30px;
}

#footer-columns h4{
    color: #d17300;
    font-size: 16px;
}

#footer-copy{
    background-color: var(--fondo-footer-copy);
    color: var(--color-footer);
    padding: 20px 0;
    font-size: 13px ;
}
